@font-face { /* New Font FredokaOne */
font-family: 'FredokaOne-Regular';
    src: url('FredokaOne-Regular') format('truetype');

}

/**** COMMUN BALISE *******/

* { 
    font-family: 'FredokaOne-Regular', Verdana;
}

#figure {
    align-items: center;
    text-align: center;
}

body {font-size: 100%}

h1 {
    font-family: 'FredokaOne-Regular';
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 3%;
}

footer 
{
    margin-top: 1%;
}

/****** HEADER ******/

#headerIMG {
    margin-bottom: 7%;
}

.buttons
{
    display: flex;
    /*border-bottom: 4px solid rgba(69, 94, 207, 0.794);*/
}
.lifeline
{
  padding-top: .4%;
  background-image: linear-gradient(to right, #40e495a2,#25a9e19f , #30dd89ad, #25a9e1a4);
}

#link
{
    text-align: center;
    width: 250px;
    font-size: 22px;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 3px rgba(22, 32, 172, 0.486) solid;
    border-radius: 10px;
    background-color: rgba(136, 136, 224, 0.418);

}

#button {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-left: 50%;
    width: 18%;
    border-width: 1px;
    font-size: small;
}

#title {
    padding-top: .5%;
    align-items: center;
}

/***** CONNEXION & INSCRIPTION *******/

#connexion {
  width: 23%;
  float: center;
  z-index: 1;
  background: white;
  position: relative;
  padding: 20px;
  border-radius: 4px;
  margin-left: 38%;
}

#registration {
    border-radius: 10px;
    padding-bottom: 2%;;
    margin-top: 2%;
    margin-left: 18%;
    margin-right: 18%;
    position: relative;
    align-items: center;
    text-align: center;
}

input {
    margin-top: 10px;
    width: auto;
    float: center;
    background: #EEF9FE;
    border: 1px solid #CDDBEF;
    border-radius: 3px;
    padding: 7px 10px;
    outline: none;
    margin-bottom: 20px;
}

#inputSubmit {
    cursor: pointer;
    border: none;
    padding: 11px 40px;
    background: #A5E434;
    border-radius: 15px;
    color: #fff;
}

#login {
    text-align: center;
}

#form1
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#form2
{
    width: 95%;
}

#menu ul{
    display: flex;
    margin-top: 2%;
    margin-bottom: 1%;
}

#menu li {
    width: 50%;
    text-align: center;
    cursor: pointer;
    list-style: none;
  }
  
#menu li a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    width: 50%;
    padding-bottom: 5px;
    border-bottom: 1px inset black;
  }

#menu hr {
    position: absolute;
    top: 100%;
    width: 20%;
    -webkit-transform: translateX(75%);
            transform: translateX(75%);
    border: none;
    background: #C8DFED;
    height: 1px;
    margin: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  #signIn
  {
      padding-left: 34%;
      padding-bottom: .5%;
  }

  #signUp
  {
      padding-right: 38%;
      padding-bottom: .5%;
  }

#registration input
{
    width: 33%;
    margin-bottom: 1%;
}

/******* TABLEAU DE BORD ********/

#dashboard {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 70%;
    height: 400px;
    justify-content: center;
    border: 3px rgba(80, 92, 255, 0.377) ridge;
    border-radius: 10px;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 2%;
}

#listELOCE
{
    font-size: 20px;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

#signup, #info, #listActivity
{
    margin-top: 1%;
    margin-left: 1,5%;
}
#signups
{
    margin-top: 1%;
    margin-left: 1%;
}
/******* ACTIVITY DESCRIPTION *******/

#descriptionSS 
{
    display: flex;
    /*background-image: linear-gradient(to right, #009245, #3fd32c, #7ac500, #D9E021);
    color: white;*/
    border: 6px ridge #009245;
    margin-left: 10%;
    margin-right: 12%;
    max-height: 80%;
}

#descriptionJC 
{
    display: flex;
    /*background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    color: white;*/
    border: 6px ridge #22aae1;
    margin-left: 10%;
    margin-right: 12%;
    max-height: 80%;
}

#themeview
{
    display: flex;
    margin-left: 14%;
    margin-top: 1%;
    margin-bottom: 3%;
}

#content
{
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
}

#list
{
    display: flex;
    justify-content: center;
}

#imgAtelier
{
    float: right;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 4%;
}

.eloce {
    font-size: 26px;
    display: flex;
    justify-content: center;
    width: 84%;
    border: solid rgba(80, 92, 255, 0.377);
    border-radius: 30px;
}

#infoslot
{
    width: 70%;
    height: 50%;
    justify-content: center;
    margin-left: 15%;
    margin-right: 25%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#infodesc
{
    font-size: 24px;
}

#desc
{
    font-size: 18px;
    border: 1px solid black;
    margin-right: 60%;
    margin-left: 5%;
}

#retour
{
    font-size: 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: 10%;
    border-width: 1px;
    background-image: linear-gradient(to right, #059ed1d0, #059ed1d0, #04c0fec9, #04c0fec2);
    border-radius: 25px;
}

/********************/
/* WEBKIT SCROLLBAR */
/********************/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {						/* Fond */
	background: transparent none;
	border: solid 4px transparent;
	border-right-width: 8px;
	margin: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: lightgray; 
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
	background: lightgray; 
}

.signup{
    width: -40%;
    margin: 1%;
}

/************************/
/***** BUTTON CSS *******/
/************************/

.buttons {
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 0;
  text-align: center;
}

.buttons a{
    margin: 0.2%;
    margin-top: 2%;
    width: 16%;
  }

.btn-hover {
  font-size: 112%;
  margin: 5%;
  width: 100%;
  font-weight: 200;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 25px;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #a6e434, #a6e434, #ffffff, #ffffff);
  border: 5px solid #a6e434;

}

.btn-hover.color-2 {
  background-image: linear-gradient(to right, #a6e434, #a6e434, #c6e4ae, #c6e4ae);
  box-shadow: 0 2px 5px 0 rgba(83, 176, 57, 0.75);
}

.btn-hover.color-3 {
  background-image: linear-gradient(to right, #0a6b95cc, #059ed1d0, #04c0fec9, #04c0fec2);
  box-shadow: 0 2px 5px 0 rgba(65, 132, 234, 0.75);
}

.block:after {
  filter: blur(10px);
}

/*****************************/

table {
    border: solid;
    width: 100%;
    text-align: center;
    }
td, th {
    border: solid;
    width: 50%;
    }

#admin{
    border: red solid 5px;
}

#listUser
{
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
#imgActivity
{
    display:block;
    width:auto;
    margin-left:auto;
    margin-right:auto;
}    
.btn {
    margin-left: 8%;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    width: 22%;
 }
.btnActivity {
    width: 50%;
    text-align: center;
    float: center;
    cursor: pointer;
    border: none;
    padding: 11px 40px;
    background: #A5E434;
    border-radius: 15px;
    color:black;
    margin-left: 34%;
    margin-top: 3%;
    margin-bottom: 2%;
}
.desc{
    text-align: center;
}