
        <h1> Communication </h1><br>
        <div id="content">
            <p> Parler avec les autres : toujours simple? Non, en fait c’est souvent compliqué d’entrer en contact avec les autres.
            Avec la multiplication des méthodes virtuelles, on dirait qu’on perd la twist de discuter de vive voix avec nos semblables.
            Avec Internet, on communique avec les autres quand ça nous tente, on prend des raccourcis, on a moins de filtres, 
            car on ne voit pas la réaction de l’autre. <br></br>
            Il est donc parfois difficile de se ramener dans la “réalité”. 
            Pour les plus timides d’entre nous, Internet est une belle façon de nous dégêner. 
            Par contre, puisque les occasions sont multiples de discuter en face à face, je vais te donner quelques trucs pour t’aider à communiquer efficacement avec les autres. 
            Cet article est utile pour tous, car à force de vivre on prend de mauvais plis dans nos interactions sociales.</p><br>
            <figure id="imgAtelier">
                <img src="/images/communication.jpg" alt="communication" />
            </figure>
        </div>
