
        
        <div id="content"><br>
            <h1> S4 - Le Curriculum Vittae </h1><br> 
            <h3>Objectifs :</h3>
              <p><li>Au sein de cet atelier, vous pourrez apprendre à élaborer votre CV et valoriser votre candidature .</li><br>
             <h3>Contenu :</h3>
                 <li>Quels sont les enjeux d'un CV? </li> 
                 <li>Comment construire un CV ? Mise en page et son contenu</li>
                 <li>Quelles compétences mettre en avant dans un CV?</li><br>
                 <p>Après avoir répondu à ces questions, vous pourrez créer votre propre CV ou le modifier !</p>
             </p><br>
         </div>
             <figure id="imgAtelier">
                 <img src="/images/cv.png" alt="CV" />
             </figure>
         <script src="mainScript.js"></script>