
        
<div id="content"><br>
    <h1> S1 - Déterminer le profil personnel et professionnel </h1><br> 
    <h3>Objectifs :</h3>
      <p><li>Identifier ses atouts, ses aptitudes et ses centres d'intérêts.</li>
         <li>Identifier ses priorités et ses contraintes</li>
         <li>Identifier ses valeurs et ses motivations professionnelles</li>
         <li>Valoriser son profil de compétences sur pôle emploi</li><br>
     <h3>Contenu :</h3>
         <li>Quelles sont vos points forts, vos compétences, vos ressources, vos valeurs professionnelles et vos contraintes ?</li> 
         <li>Comment se valoriser ?</li>
     </p><br>
 </div>
     <figure id="imgAtelier">
         <img src="/images/profil.jpg" alt="profil" />
     </figure>
 <script src="mainScript.js"></script>