
        <div id="activitycontent" class="container">
            <button id="confiance" class ="activity">Capital Confiance</button>
            <button id="mindmapping" class ="activity">Mind Mapping</button>
            <button id="stress" class ="activity">Gestion du stress</button>
            <button id="communication" class ="activity">Communication</button>
            <button id="cognitive" class ="activity">Strategies Cognitives</button>
            <button id="numerique" class ="activity">Usage du numerique</button>
        </div><br><br>
        <div id="activitySS">
        </div>