
        
        <div id="content"><br>
           <h1> S6 - Entretien de Recrutement </h1><br> 
           <h3>Objectifs :</h3>
             <p><li>Se préparer à l'entretien de recrutement</li>
                <li>Simulation d'entretien d'embauche</li><br>
            <h3>Contenu :</h3>
                <li>Quelle image avons-nous de nous ? Que renvoyons-nous ?</li> 
                <li>Quels sont les différents modes de communication? Leur impact?</li>
                <li>Quelles sont les étapes d'un entretien ?</li>
                <li>Quels sont les différents types d'entretien ?</li>
                <li>Quelles questions sont fréquemment posées par les recruteurs ?</li>
            </p><br>
        </div>
            <figure id="imgAtelier">
                <img src="/images/entretien.png" alt="entretien embauche" />
            </figure>
        <script src="./ScriptJC.js"></script>
