

        <div id="content"><br>
            <h1> JOB CIBLE 2.0 </h1><br>
            <h3>Contenu :</h3><br>
                <p>L'objectif de ces 6 ateliers est de vous accompagner dans la construction de votre projet professionnel.<br></br>
                Developper vos outils de recherche d'emploi, travailler votre identité numérique et vos entretien physique, autant d'atout dont vous aurez besoin
                pour reussir votre obtention d'un emploi à l'issue de votre formation.<br></br>
                Ces ateliers sont obligatoire pour tous les apprennants, vous devez les avoir réalisés avant la fin de leur période de formation.
                </p><br>
        </div>    
        <script src="./ScriptJC.js"></script>