
        
        <div id="content"><br>
            <h1> S5 - La Lettre de Motivation </h1><br> 
            <h3>Objectifs :</h3>
              <p><li>Elaborer et optimiser ses outils de recherche d'emploi</li><br>
             <h3>Contenu :</h3>
                 <li>Quelles sont les attentes des recruteurs ?</li> 
                 <li>Comment présenter une lettre de motivation ?</li>
                 <li>Quel est le style d'écriture à utiliser dans une lettre de motivation ?</li><br>
                 <p>Après avoir répondu à toutes ces questions nous élaborerons ensemble des lettres de motivation à l'aide d'outils informatiques.</p>
             </p><br>
         </div>
             <figure id="imgAtelier">
                 <img src="/images/motivation.png" alt="entretien embauche" />
             </figure>
         <script src="./mainScript.js"></script>
 