    
    
    <div id="content"><br>
        <h1> S2 - Recherche d'Emploi </h1><br> 
        <h3>Objectifs :</h3>
        <p><li>Analyser le marché du travail en fonction du projet sur le bassin d'emploi ciblé</li>
            <li>Cibler les entreprises</li>
            <li>Développer et mobiliser un réseau</li> 
            <li>Réaliser le suivi des candidatures</li><br>
        <h3>Contenu :</h3>
            <li>Quelles sont les entreprises qui recrutent? Comment? </li> 
            <li>Comment  mobiliser mon réseau ?</li>
            <li>Les outils numériques à utiliser pour  définir sa stratégie de recherche d'emploi et effectuer le suivi des candidatures</li><br>
        </p><br>
    </div>
        <figure id="imgAtelier">
            <img src="/images/emploi.png" alt="emploi" />
        </figure>
        <script src="./ScriptJC.js"></script>