
        
        <div id="content"><br>
            <h1> S3 - L'Identité Numerique </h1><br> 
            <h3>Objectifs :</h3>
              <p><li>Définir sa stratégie en terme de visibilité</li>
                 <li>Utiliser et optimiser les outils numériques pour sa recherche d'emploi ou de stage. </li>
                 <li>Créer son profil sur les réseaux sociaux professionnels et mettre en pratique des actions.</li><br>
             <h3>Contenu :</h3>
                 <li>Numérique : quelles sont les pratiques des recruteurs ?</li> 
                 <li>Qu’est-ce que l’identité numérique ?</li>
                 <li>L’e-réputation : chacun la même perception ?</li>
                 <li>Personal branding et stratégie de visibilité sur le net</li>
                 <li>Ma recherche d’emploi : LinkedIn et moi</li>
             </p><br>
         </div>
             <figure id="imgAtelier">
                 <img src="/images/identite.jpg" alt="identite numerique" />
             </figure>
         <script src="./mainScript.js"></script>