

        <div id="content"><br>
            <h1> Apprendre à Apprendre </h1><br>
                <h3>Contenu :</h3><br>
                    <p>Les neurosciences ont permis de mieux comprendre le fonctionnement du cerveau et de ce fait de mieux l'utiliser.
                        Dans cet atelier nous verrons comment faciliter les apprentissages et aborderons les neuromythes.</p><br>
        </div>    
            <figure id="imgAtelier">
                <img src="/images/apprendre.png" alt="apprendre" />
            </figure>
            <script src="./ScriptSS.js"></script>