

        <div id="content"><br>
            <h1> Gagner en performance grâce aux stratégies méta-cognitives   </h1><br>
                <h3>Contenu :</h3><br>
                    <p>Avoir une réflexion sur sa propre réflexion c'est de la méta-cognition ! 
                    Dans cette séance nous aborderons la PNL, l'analyse de pratique professionnelle et les questions méta-cognitives 
                    pour gagner en prise de recul sur une situation et identifier des expériences de réussite ainsi que les stratégies mises en places.</p><br>
        </div>    
            <figure id="imgAtelier">
                <img src="/images/cognitive.jpg" alt="méta-cognitives" />
            </figure>
        <script src="./mainScript.js"></script>