

        <div id="content"><br>
            <h1> La Communication </h1><br>
                <h3>Contenu :</h3><br>
                    <p>Une bonne communication est l'une des principales clés de la réussite tant sur le plan personnel que professionnel. 
                    Savoir adapter son discours à son interlocuteur, développer ses connaissances dans le non verbal permet de réagir 
                    en conséquence et d'être plus efficace lors d'échanges. 
                    Cela permet aussi de gagner en confiance en soi car si je m'exprime, je m'affirme!</p><br>
        </div>    
            <figure id="imgAtelier">
                <img src="/images/communication.jpg" alt="communication" />
            </figure>
        <script src="./mainScript.js"></script>
