

        <div id="content"><br>
            <h1> Comportement Professionnel </h1><br>
            <h3>Contenu :</h3><br>
                <p>S'adapter à l'image de l'entreprise, faire preuve d'organisation, s'intégrer à une nouvelle 
                    équipe et adapter ses habitudes de travail, communiquer efficacement... 
                    Des aptitudes à développer pour faciliter son arrivée dans une entreprise 
                    et enrichir ses compétences et être plus efficace dans le monde de l'emploi.</p><br>
        </div>    
            <figure id="imgAtelier">
                <img src="/images/comportement.jpg" alt="comportement" />
            </figure>
        <script src="./mainScript.js"></script>