

        <div id="content"><br>
            <h1> Capacité d'affirmation de soi </h1><br>
                <h3>Contenu :</h3><br>
                    <p>L'affirmation de soi est nécessaire à l'épanouissement !</p><br>
                    <p>Lors de cet atelier nous aborderons la confiance en soi, les fausses croyances 
                    que nous avons sur nous-même qui limitent nos avancées, le sentiment d'efficacité 
                    personnelle ainsi que les différences de perception de chacun...</p>
        </div>    
            <figure id="imgAtelier">
                <img src="/images/confiance.jpg" alt="gestion du stress" />
            </figure>
            <script src="./ScriptSS.js"></script>