

        <div id="content"><br>
            <h1> Gestion du Stress 2 </h1><br>
                <h3>Contenu :</h3><br>
                    <p>L’empathie est la capacité à ressentir les émotions de quelqu’un d’autre, se mettre à sa place. 
                    L’empathie cognitive consiste à comprendre les idées de l’autre et l’empathie émotionnelle à partager 
                    ses sentiments.</p><br>
                    <p>Développer son empathie permet une meilleure compréhension de l’autre et d’adapter sa communication 
                    pour être plus efficient.</p><br>
        </div>    
            <figure id="imgAtelier">
                <img src="/images/empathie.png" alt="empathie" />
            </figure>
            <script src="./ScriptSS.js"></script>