

        <div id="content"><br>
            <h1> Optimiser son image </h1><br>
            <h3>Contenu :</h3><br>
                <p>L'image que renvoie une personne a un impact conséquent sur sa réussite professionnelle.
                Chaque métier à ses codes, chaque entreprise y ajoute sa touche personnelle; il est donc nécessaire
                de prêter attention à sa tenue vestimentaire, à sa posture et ses comportements pour être plus crédible
                face à des recruteurs ou des clients.</p><br>
        </div>    
            <figure id="imgAtelier">
                <img src="/images/image.jpg" alt="image professionnelle" />
            </figure>
            <script src="./ScriptSS.js"></script>