
        
        <div id="content"><br>
            <h1> Mind Mapping:</h1> 
            <h3>Les étapes d'un projet et les indicateurs de prise de décision. </h3><br>
            <h3>Contenu :</h3><br>
                 <p>Les étapes d'un projet, ses indicateurs de réussite ou encore la prise de décision 
                    peuvent être travaillés sous forme de carte mentale.</p><br>
                <p>Cela permet de pourvoir enrichir les données en fonction de l'avancée d'un projet, de le moduler et de ne mettre que l'essentiel.</p><br>
         </div>
             <figure id="imgAtelier">
                 <img src="/images/mindmapping.png" alt="mind mapping" />
             </figure>
         <script src="./mainScript.js"></script>