
        
        <div id="content"><br>
            <h1> Mind Mapping:</h1> 
            <h3>Fonctions et formes des cartes mentales </h3><br>
            <h3>Contenu :</h3><br>
                 <p>Quelle est l'utilité des cartes mentales dans les apprentissages, quelles formes peuvent-elles prendre?<br>
                    Comment les utiliser dans des activités professionnelles?...<br>
                    Un outil souvent trop peu utilisé qui permet de développer ses idées et sa créativité.</p><br>
         </div>
             <figure id="imgAtelier">
                 <img src="/images/mindmapping.png" alt="mind mapping" />
             </figure>
             <script src="./ScriptSS.js"></script>