
        
        <div id="content"><br>
            <h1> Mind Mapping:</h1> 
            <h3>Critères de réussite d'un écrit et architecture d'un document  </h3><br>
            <h3>Contenu :</h3><br>
                 <p>Lors de cette séance vous verrez l'utilité des cartes mentales architecturer vos écrits professionnels et mettre en évidence 
                    les critères de réussite d'un écrit</p><br>
         </div>
             <figure id="imgAtelier">
                 <img src="/images/mindmapping.png" alt="mind mapping" />
             </figure>
         <script src="./mainScript.js"></script>