
        
        <div id="content"><br>
            <h1> Mind Mapping:</h1> 
            <h3>Hiérarchiser et planifier ses activités </h3><br> 
            <h3>Contenu :</h3><br>
                 <p>La carte mentale peut servir à s'organiser au travail ou en formation pour optimiser 
                    le temps et gérer les priorités toujours dans un souci d'efficacité.</p><br>
         </div>
             <figure id="imgAtelier">
                 <img src="/images/mindmapping.png" alt="mind mapping" />
             </figure>
         <script src="./mainScript.js"></script>