
        
        <div id="content"><br>
            <h1> Mind Mapping:</h1> 
            <h3>La structuration des informations, le repérage des éléments clés et la prise de notes </h3><br>
            <h3>Contenu :</h3><br>
                 <p>La carte mentale est un outil intéressant pour la prise de notes, elle permet d'associer des couleurs et formes 
                    à des thèmes pour se repérer plus rapidement. Elle a la particularité d'être beaucoup plus dynamique que la prise de notes classique.</p><br>
         </div>
             <figure id="imgAtelier">
                 <img src="/images/mindmapping.png" alt="mind mapping" />
             </figure>
             <script src="./ScriptSS.js"></script>