
        
        <div id="content"><br>
            <h1> Le Prise de Parole (2) </h1><br>
             <h3>Contenu :</h3><br>
                 <p>La prise de parole en public doit être travaillée à plusieurs reprises pour gagner en confiance en soi. 
                    Après avoir assisté à la première séance lors de laquelle vous obtiendrez les astuces pour "oser prendre la parole en public". 
                    Je vous propose de développer davantage vos compétences grâce à des exercices de préparation et des jeux d'improvisation</p><br>
         </div>
             <figure id="imgAtelier">
                 <img src="/images/parole.png" alt="parole" />
             </figure>
             <script src="./ScriptSS.js"></script>