
        
        <div id="content"><br>
            <h1> Le Prise de Parole </h1><br>
             <h3>Contenu :</h3><br>
                <p>Oser prendre la parole en public est un exercice qui demande de la technique pour gérer son appréhension, 
                sa communication  et permet de s'affirmer!</p><br>
                <p>Lors de cet atelier nous verrons comment se préparer au mieux pour une présentation orale par le biais 
                d'exercices de décontraction musculaires faciaux et par la mise en pratique via un jeu d'improvisation.</p><br>
         </div>
             <figure id="imgAtelier">
                 <img src="/images/parole.png" alt="parole" />
             </figure>
         <script src="./mainScript.js"></script>