

        <div id="content"><br>
            <h1> SOFT SKILLS </h1><br>
            <h3>Contenu :</h3><br>
                <p>Assimilé à des compétences humaines, le terme soft skills désigne les compétences comportementales, qui sont souvent mises de côté dans les écoles au profit de leur opposé les Hard skills, ou compétences dites techniques.</p><br>
                <p>Ce sont des compétences personnelles permettant d’harmoniser ses relations à autrui, de bien vivre son travail et au final d’être un productif « impliqué ».
                    Le monde du travail est en perpétuelle évolution. Par conséquence, c’est un réel avantage de savoir s’adapter à ces changements. Cette capacité d’adaptation est largement facilitée lorsqu’on progresse sur ces soft skills.</p>
        </div>
        <script src="./ScriptSS.js"></script>