

        <div id="content"><br>
            <h1> Gestion du Stress </h1><br>
            <h3>Contenu :</h3><br>
                <p>Le stress est l'une des causes de mal-être de beaucoup de personnes.</p><br>
                <p>Savoir comment réagit son corps pour mieux le comprendre et identifier ses sources 
                de stress seront les premières étapes nécessaires pour y remédier (la suite sera lors de l'atelier "gérer efficacement son stress)</p>
        </div>    
            <figure id="imgAtelier">
                <img src="/images/stress.jpg" alt="gestion du stress" />
            </figure>
        <script src="./mainScript.js"></script>