

        <div id="content"><br>
            <h1> Gestion du Stress 2 </h1><br>
                <h3>Contenu :</h3><br>
                    <p>Apprendre à gérer son stress est possible !</p><br>
                    <p>Cette séance permettra de relativiser en cas de situation provoquant du stress : 
                    de garder son self control et surtout de limiter les effets d'un stress négatif sur l'organisme.</p>
        </div>    
            <figure id="imgAtelier">
                <img src="/images/stress.jpg" alt="gestion du stress" />
            </figure>
        <script src="./mainScript.js"></script>