
        <div id="title" class="container">
            <h2>Inscription Collaborateur</h2>
        </div>

            <div id="registration" class="container">
                <fieldset>
                    <form action="" method="post">

                        <label>Prenom :</label>
                        <input type="text" name="firstname" pattern="[A-Z][a-z]+" title="Le prénom ne doit pas contenir de chiffres et doit commencer par une majuscule." required><br>

                        <label>Nom :</label>
                        <input type="text" name="lastname" pattern="[A-Z][a-z]+" title="Le nom ne doit pas contenir de chiffres et doit commencer par une majuscule." required><br>

                        <label>Date de naissance :</label>
                        <input type="date" name="birthdate"  required><br>

                        <label>Numero de telephone :</label>
                        <input type="tel" name="phoneNumber" validationMessage="ezrzer" pattern="0[1-68]([-. ]?[0-9]{2}){4}" title="Le numero de téléphone doit contenir 10 chiffres." required><br>

                        <label>E-mail :</label>
                        <input type="email" name="mail" required><br>

                        <label>Mot de passe :</label>
                        <input type="password" name="password" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Le mot de passe doit comporter au minimum 6 caractères et contenir une majuscule, une minuscule et un chiffre." required><br>

                        <label>Entrer le mot de passe à nouveau :</label>
                        <input type="password" name="password2" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Le mot de passe doit comporter au minimum 6 caractères et contenir une majuscule, une minuscule et un chiffre." required><br><br>

                        <input id="button" type="submit" name="inscription" value="Valider"><br><br>
                        <input id="button" type="reset" value="Annuler"><br>
                    </form>
                </fieldset><br><br>

                <button id="button"><a id="button" href="../../index.php">Connexion</a></button>
            </div>